<div class="card blog">
  <%= link_to blog_path(id: blog.id) do %>
    <div class="card-block blog-head">
      <h4 class="card-title"><%= blog.title %></h4>
      <p class="card-text"><%= blog.content %></p>
    </div>
  <% end %>
  <div class="card-block">
    <a href="#" class="card-link">Comments</a>
  </div>
</div>