<div class="blogs">
  <div class="row">
    <div class="col-sm-12">
      <h3>Most commented blogs</h3>
      <% @top_commented_blogs.each do |blog| %>
        <%= render partial: 'blog', locals: {blog: blog} %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3>Most recent blogs</h3>
      <% @top_recent_blogs.each do |blog| %>
        <%= render partial: 'blog', locals: {blog: blog} %>
      <% end %>
    </div>
  </div>
</div>