.blogs {
  .blog {
    a{
        text-decoration: none;
        color: #373a3c;
    }
  }
}

.blog {
  .blog-container {
    margin-bottom: 30px;
  }
  .comments {
    .comments-list {
      .time {
        font-size: .8rem;
        font-weight: 100;
        font-style: italic;
      }
    }

    .new-comment {
      
    }
  }
}