.blogs {
  .blog {
    a{
        text-decoration: none;
        color: #373a3c;
    }
  }
}

.blog {
  .comments {
    .comments-list {
      /*height: 200px;
      overflow-y: scroll;*/
    }

    .new-comment {
      
    }
  }
}